@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

body { /* Corpo da página */
    margin: 0;
    padding: 0;
    background: rgba(0, 77, 0, 0.986);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container { /* Conteiner in white */
    width: 90%;
    max-width: 380px; 
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Labels, inputs and buttons for box conteiner */
form input, form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 90%;
    height: 30px;
    padding: 0 20px;
    border-color: black;
    border-radius: 5px;
}

form input:focus {
    outline: 1px solid purple;
}

form button {
    border: none;
    border-radius: 10px;
    background: #5f5f5f;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    width: 80%;
    height: 40px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form button:hover {
    background: rgb(139, 139, 139);
}

/* Results of calculate IMC*/
.paragrafo-resultado, .bad {
    background-color: rgb(2, 112, 57);
    margin: 10px;
    padding: 2px 0px;
    text-align: center;
}

.bad {
    background-color: rgb(240, 46, 46);
    font-weight: bold;
    color: black;
}

/* Options of Menu */
.menu-opcoes {
    display: none;
    margin: 10px auto;
    width: 93%;
    
}

.menu-opcoes ul {
    list-style-type: none;
    text-align: center;
    padding: 0;

}

.menu-opcoes ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #468149;
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px;
}

.menu-opcoes ul li a:hover {
    background-color: #244426;
}
